*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #fff;
    position: relative;
    text-align: center;
}

.container{
    left: 140px;
    right: 140px;
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h1{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
  }

h4{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
